Package: com.romeo.pseudonyminspector
Name: Pseudonym Inspector
Version: 1.3.0
Architecture: iphoneos-arm64
Description: Shows what an app actually sees about this device. Enable it in Pseudonym and watch the values change.
Maintainer: Romeo <romeogregoryx@gmail.com>
Author: Romeo <romeogregoryx@gmail.com>
Section: Utilities
Depends: firmware (>= 15.0)
