Package: com.romeo.appversion
Name: AppVersion
Version: 0.6.0
Architecture: iphoneos-arm64
Description: Choose which version of an app the App Store installs. Configured in Settings; only reaches versions your Apple ID can already obtain.
Maintainer: Romeo <romeogregoryx@gmail.com>
Author: Romeo <romeogregoryx@gmail.com>
Section: Tweaks
Depends: ellekit, preferenceloader, firmware (>= 15.0)
