Package: com.romeo.hellotweak
Name: HelloTweak
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Scaffold for a compiled rootless tweak.
Maintainer: Romeo <romeogregoryx@gmail.com>
Author: Romeo <romeogregoryx@gmail.com>
Section: Tweaks
Depends: ellekit, firmware (>= 15.0)
